@import '~bootstrap/scss/bootstrap';
a.router-link-active{
    color: rgba(0, 0, 0, 0.9);
    font-weight: 600;
}
.button-default{
    color: rgba(255, 255, 255, 0.55);;
    border-color: rgba(255, 255, 255, 0.55);
}
.button-default:hover{
    color: rgba(255, 255, 255, 0.75);
    border-color: rgba(255, 255, 255, 0.75);
    font-weight: 600;
}
.default-background{
    background-color: #184957;
}
.default-color{
    color: #184957;
}
.default-color-white{
    color: white;
}
.container_image {
    position: relative;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle_image {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container_image:hover .image {
    opacity: 0.5;
  }
  
  .container_image:hover .middle_image {
    opacity: 0.8;
  }
  
  .text_image {
    border-radius: 5px;
    background-color: #184957;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }